@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount2</p>


@code {
    [Parameter]
    public int CurrentCount2 { get; set; }
    

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"OnInitialized - CurrentCount2: {CurrentCount2}");
    }

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine($"OnParametersSetAsync - CurrentCount2: {CurrentCount2}");
    }
}
